APP_NAME=EconoNews Intelligence Hub
API_V1_PREFIX=/api/v1
SCHEDULER_ENABLED=true
CRAWLER_INTERVAL_SECONDS=300
DEFAULT_BENCHMARK=000300.SH
MODEL_PROVIDER=heuristic
BERT_MODEL_NAME=Chinese-FinBERT
LLM_ENDPOINT=
TUSHARE_TOKEN=

